.login-screen__title {
  color:darken($color:$primary, $amount: 20);
  margin-bottom: 20px ;
}

.login-screen__input {
  @extend .input-form;  

}

.login-screen__social-networks {
  align-items:center;
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding-top:20px;
  padding-bottom:20px;
  width:100%;
}

