.input-form {
  color:$dark-grey;
  border:0;
  border-bottom: 1px solid $light-grey;
  font-size: 16px;
  margin-bottom:10px;
  height:20px;
  width:100%;
  transition: border-bottom .3s ease;
  &:focus {
    border-bottom:1px solid $primary;
    outline:none;
  }
}