.journal-entries__container {
  flex: 1 1 auto;
  margin-top: 30px;
  max-height: calc(100vh - 9rem);
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
}

.journal-entries__container::-webkit-scrollbar {
  display: none;
}

.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}